/* Theme Slider */

input[type='range'] {
	position: relative;
	-webkit-appearance: none;
	width: 55px;
	background-color: transparent;
}

input[type='range']::before {
	position: absolute;
	content: 'THEME';
	top: 5px;
	right: 130%;
	font-size: 12px;
	color: var(--color-font-theme);
}

input[type='range']::after {
	position: absolute;
	content: '1 \00a0 \00a0 2 \00a0 \00a0 3';
	top: -22px;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: var(--color-font-123);
}

input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 22px;
	cursor: pointer;
	background: var(--color-track);
	border-radius: 30rem;
	padding: 0 5px;
}

input[type='range']::-webkit-slider-thumb {
	margin-top: 4px;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background-color: var(--color-thumb);
	cursor: pointer;
	-webkit-appearance: none;
}

/* Header :: Logotype */

.logotype {
	color: var(--color-font-theme);
	margin: 0;
	font-size: 26px;
	user-select: none;
}

/* Number Button */

.button {
	display: grid;
	place-items: center;
	height: 45px;
	border-radius: 8px;
	user-select: none;
	cursor: pointer;
	padding-top: 4px; /* Visual Fix */
	transition: box-shadow 90ms ease, transform 90ms ease;
}

.big {
	grid-column: span 2;
}

.button:active {
	transform: translateY(4px);
	box-shadow: none;
}

.number,
.operation {
	color: var(--color-font-button-number);
	font-size: 22px;
	font-weight: 600;
	background-color: var(--color-button-number);
	box-shadow: 0 4px 0 0 var(--color-shadow-button-number);
}

.delete {
	color: var(--color-font-button-del);
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: var(--color-button-del);
	box-shadow: 0 4px 0 0 var(--color-shadow-button-del);
}

.reset {
	color: var(--color-font-button-reset);
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: var(--color-button-reset);
	box-shadow: 0 4px 0 0 var(--color-shadow-button-reset);
}

.result {
	color: var(--color-font-button-result);
	font-size: 16px;
	font-weight: 600;
	background-color: var(--color-button-result);
	box-shadow: 0 4px 0 0 var(--color-shadow-button-result);
}
